@model FlicButtonBinding

@{
    ViewData["Title"] = "Individual Score Page";
}

<div class="text-center">
    <h1 id="playerName" class="display-4"></h1>
    <p id="playerScore" style="font-size:200px"></p>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>

<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/scoreHub").build();

    connection.on("Refresh", function (user, message) {
        refresh();
    });

    connection.start().then(function () {
    }).catch(function (err) {
        return console.error(err.toString());
    });

    var refresh = function () {
        var urlParams = new URLSearchParams(window.location.search);
        var flicId = urlParams.get('flicId');

        fetch('/api/score/' + flicId)
            .then(function (response) {
                return response.json();
            })
            .then(function (json) {
                console.log(json);
                if (json.flicId == flicId) {
                    document.getElementById("playerName").innerHTML = json.playerName;
                    document.getElementById("playerScore").innerHTML = json.playerScore;
                }
            });
    }

    refresh();
</script>
