@model Dictionary<string, int>
<table align="center">
    @foreach(var kvp in Model)
    {
        <tr>
            <td style="font-size:50px;">@kvp.Key</td>
            <td style="padding-left:30px;font-size:50px;">@kvp.Value</td>
        </tr>
    }
</table>