@model Dictionary<string, FlicButtonBinding>
<table align="center" style="font-size:25px;">
    <thead>
        <tr>
            <td align="left" width="100">Flic Id</td>
            <td align="left" width="200">Player</td>
            <td align="left" width="100">Score</td>
            <td align="left" width="100">&nbsp;</td>
        </tr>
    </thead>

    @foreach (var kvp in Model)
    {
    <tr>
        <td align="left">@kvp.Key</td>
        <td align="left">@kvp.Value.PlayerName</td>
        <td align="left">@kvp.Value.PlayerScore</td>
        <td align="left"><a href="/Flic?flicId=@kvp.Key">View</a></td>
    </tr>
    }
</table>