@model FlicButtonBinding

@{
    ViewData["Title"] = "Individual Score Page";
}

<div class="text-center">
    <table align="center" border="1">
        <tr>
            <td width="300">
                <h1 id="playerName001" class="display-4"></h1>
                <p id="playerScore001" style="font-size:200px"></p>
            </td>
            <td width="300">
                <h1 id="playerName002" class="display-4"></h1>
                <p id="playerScore002" style="font-size:200px"></p>
            </td>
            <td width="300">
                <h1 id="playerName003" class="display-4"></h1>
                <p id="playerScore003" style="font-size:200px"></p>
            </td>
        </tr>
    </table>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>

<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/scoreHub").build();

    connection.on("Refresh", function (id) {
        refresh(id);
    });

    connection.start().then(function () {
    }).catch(function (err) {
        return console.error(err.toString());
    });

    var load = function (id) {
        fetch('/api/score/' + id)
            .then(function (response) {
                return response.json();
            })
            .then(function (json) {
                console.log(json);
                document.getElementById("playerName"+id).innerHTML = json.playerName;
                document.getElementById("playerScore"+id).innerHTML = json.playerScore;
            });
    }

    var refresh = function (id) {
        load(id);
    }

    load("001");
    load("002");
    load("003");
</script>
