@{
    ViewData["Title"] = "All Scores";
}

<div class="text-center">
    <div id="scoresTable"></div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/score.js"></script>

<script>
    fetch('/api/score')
        .then(function (response) {
            return response.text();
        })
        .then(function (data) {
            console.log(data);
            document.getElementById("scoresTable").innerHTML = data;
        });
</script>