@{
    ViewData["Title"] = "All Scores";
}

<div class="text-center" style="font-size:42px;">
    <div id="scoresTable"></div>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>

<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/scoreHub").build();

    connection.on("Refresh", function (user, message) {
        refresh();
    });

    connection.start().then(function () {
    }).catch(function (err) {
        return console.error(err.toString());
    });

    var refresh = function () {
        fetch('/api/match/partial')
            .then(function (response) {
                return response.text();
            })
            .then(function (data) {
                console.log(data);
                 document.getElementById("scoresTable").innerHTML = data;
            });
    }

    refresh();
</script>