@{
    ViewData["Title"] = "Tony's Score";
}

<div class="text-center">
    <h1 class="display-4">Tony</h1>

    <p id="score" style="font-size:200px"></p>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/score.js"></script>

<script>
    fetch('/api/score/Tony')
        .then(function (response) {
            return response.text();
        })
        .then(function (data) {
            console.log(data);
            document.getElementById("score").innerHTML = data;
        });
</script>
